In [1]:
import pandas as pd

In [91]:
dfs = pd.read_csv('data.csv', encoding="utf-8")

In [92]:
dfs.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0.0
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp,0.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup,0.0
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch,0.0
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded",0.0

In [120]:
export_file = dfs[['Shrt_Desc','Energ_Kcal', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Protein_(g)', 'Lipid_Tot_(g)']]

In [129]:
export_file.to_csv("req_data.csv")

In [93]:
find_file = dfs[dfs['Shrt_Desc'].str.contains("PIZZA")].head(1)

In [94]:
find_file.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
1294,6152,"SAUCE,PIZZA,CND,RTS",86.71,54,2.18,1.15,1.3,8.66,2.0,3.78,...,NaN,0.46,0.461,0.099,0.0,63.0,.25 cup,NaN,NaN,0.0

In [95]:
req_data = find_file[['Shrt_Desc','Energ_Kcal', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Protein_(g)', 'Lipid_Tot_(g)']]

In [97]:
req_data.reset_index(drop=True)

,Shrt_Desc,Energ_Kcal,Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Protein_(g),Lipid_Tot_(g)
0,"SAUCE,PIZZA,CND,RTS",54,8.66,2.0,3.78,2.18,1.15

In [98]:
req_data = req_data.replace('\n','', regex=True)

In [108]:
shrt_desc = req_data.iloc[0]['Shrt_Desc']  

Energ_Kcal = req_data.iloc[0]['Energ_Kcal']
Carbohydrt =req_data.iloc[0]['Carbohydrt_(g)']

Fiber_TD = req_data.iloc[0]['Fiber_TD_(g)']

Sugar_Tot = req_data.iloc[0]['Sugar_Tot_(g)']

Protein = req_data.iloc[0]['Protein_(g)']

Lipid_Tot= req_data.iloc[0]['Lipid_Tot_(g)']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 1294 to 1294
Data columns (total 7 columns):
Shrt_Desc         1 non-null object
Energ_Kcal        1 non-null int64
Carbohydrt_(g)    1 non-null float64
Fiber_TD_(g)      1 non-null float64
Sugar_Tot_(g)     1 non-null float64
Protein_(g)       1 non-null float64
Lipid_Tot_(g)     1 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 144.0+ bytes

In [128]:

import pymysql
import re
#database connection
connection = pymysql.connect(host="localhost",user="root",passwd="",database="foodcal" )
cursor = connection.cursor()
# some other statements  with the help of cursor
# sql = "INSERT INTO `image_details`(`img_id`, `Shrt_Desc`, `Energ_Kcal`, `Carbohydrt_(g)`, `Fiber_TD_(g)`, `Sugar_Tot_(g)`, `Protein_(g)`, `Lipid_Tot_(g)`) VALUES ({},{},{1},{1},{1},{1},{1},{1})".format(4, shrt_desc, Energ_Kcal,Carbohydrt, Fiber_TD,Sugar_Tot, Protein ,Lipid_Tot )
sql = """
LOAD DATA INFILE 'C:\\xampp\\htdocs\\foodpal\\python\\data\\req_data.csv' 
INTO TABLE image_details 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;"""
cursor.execute(sql)
connection.commit()
connection.close()

InternalError: (29, 'File \'C:\\xampp\\mysql\\data\\xampphtdocsfoodpalpythondata\req_data.csv\' not found (Errcode: 22 "Invalid argument")')